/* headlines with lines */
.throughline{
    overflow: hidden;
    text-align: center;
}
.throughline > span{
   position: relative;
   display: inline-block;
}
.throughline > span:before, .throughline > span:after{
   content: '';
   position: absolute;
   top: 50%;
   border-bottom: 2px solid;
   width: 100vw;
   margin: 0 20px;
}
.throughline > span:before{
   right: 100%;
}
.throughline > span:after{
   left: 100%;
}