rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /piggybanks/{document=**} {
      allow read;
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.owner_uid;
      // allow update: if request.auth != null && request.auth.uid == resource.data.owner_uid && request.auth.id == request.resource.data.owner_uid;
        // // This isn't working which allows users to update their owner_uid to be someone else
    }
  }
}