name: Deploy Firebase Functions (Production)
on:
  push:
    branches: [master]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install npm packages
      run: |
        cd src/firebase/functions
        npm install
    - name:  Test & Deploy
      uses: w9jds/firebase-action@master
      with:
          args: deploy --only functions -P coindropto
      env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
          PROJECT_PATH: ./src/firebase